_board
.vscode
__pycache__

.idea
*.iml

文本分类/cnews/cnews.*.txt
文本分类/cnews/cnews.*.json
文本分类/cnews/vocal*.txt

文本分类/model

tutorials/data

chapter03-nn/captcha/models
chapter03-nn/captcha/data
chapter03-nn/captcha-02/models
chapter03-nn/captcha-02/models-*